<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css" th:href="@{/css/bootstrap/bootstrap.min.css}" />
    <link rel="stylesheet" href="../static/css/forgotUsername.css" th:href="@{/css/forgotUsername.css}" />
    <title th:text="#{forgotUsername.title}">Recover username</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form role="form" id="forgotUsernameForm">
                        <div class="form-group">
                            <h2><span th:text="#{forgotUsername.title}">Recover username</span></h2>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="email" th:text="#{forgotUsername.yourEmail}">Your e-mail</label>
                            <input name="email" id="email" type="email" class="form-control" th:placeholder="#{forgotUsername.email}"/>
                        </div>
                        <div class="form-group">
                            <button id="requestUsernameSubmit" type="submit" class="btn btn-info btn-block"><span th:text="#{forgotUsername.textOnButton}">Recover username</span></button>
                        </div>
                        <p>
                            <span th:text="#{forgotUsername.ifYouRememberYourUsername}">If you remember your username</span>
                            <a th:href="@{/signIn}"><span th:text="#{forgotUsername.signIn}">Sign in</span></a>,
                            <span th:text="#{forgotUsername.otherwise}">otherwise</span>
                            <a th:href="@{/register}"><span th:text="#{forgotUsername.createAccount}">Create account</span></a>.
                        </p>
                        <hr />
                        <p>
                            <span th:text="#{forgotUsername.goBackToTheHomepage}">Go back to the homepage</span>
                            <a th:href="@{/}"><span th:text="#{forgotUsername.go}">GO</span></a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" th:src="#{jquery.js}"></script>
    <script type="text/javascript" th:src="#{jquery_validation.js}"></script>
    <script type="text/javascript" src="../static/js/forgotUsername.js" th:src="@{/js/forgotUsername.js}"></script>
</body>
</html>