<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/users.css" th:href="@{css/users.css}"/>
    <link rel="stylesheet" th:href="#{bootstrap.css}"/>
    <title th:text="#{users.title}">Users</title>
</head>
<body data-ng-app="app" data-ng-controller="UsersController">
<div class="container">
    <!-- NAVBAR -->
    <nav data-th-replace="/include/navbar::navbar"></nav>

    <!--USER -->
    <div class="col-md-12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 panel-search">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group" id="adv-search">
                            <input type="hidden" th:value="${page}" id="page"/>
                            <input type="hidden" th:value="${pageSize}" id="size"/>
                            <input type="text" th:value="${q}" data-ng-keyup="getAllByUsernameWithInput()" id="search-value"
                                   class="form-control input-search" th:placeholder="#{users.searchUsers}"/>
                        </div>
                    </div>
                </div>
                <br/>
                <label><span th:text="#{users.pageSize}">Page size</span>:</label> <input data-numbers-only="true" data-ng-model="size"
                                                 data-ng-keyup="getAllByUsernameByPageSize()" class="form-control input-search"
                                                 style="width: 50px; display: inline;"/>
                <span style="float: right;margin-right: 90px;">
                    <b><span th:text="#{users.users}">Users</span>:</b> <span ng-bind="numberOfUsers"></span>
                    <br />
                    <b><span th:text="#{users.pages}">Pages</span>:</b> <span ng-bind="numberOfPages"></span>
                </span>
            </div>
        </div>
        <div class="row well displayProfiles">
            <div class="row">
                <span ng-bind="noResults"></span>
                <div class="col-sm-4" data-ng-repeat="user in users">
                    <div class="card ng-cloak">
                        <div class="avatar">
                            <img src="" alt=""/>
                        </div>
                        <div class="content">
                            <a data-ng-href="/profile/{{user.username}}"><p class="personName">{{user.username}}</p></a>
                            <p class="profInfo">Something will be here soon
                                <br/>and here</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div id="container">
                <div id="left" class="label-prev">
                    <button data-ng-click="getPrevUsers()" data-ng-show="btnPrev" class="btn btn-primary ng-cloak"><span th:text="#{users.btnPrev}">prev</span></button>
                </div>
                <div id="right" class="label-next">
                    <button data-ng-click="getNextUsers()" data-ng-show="btnNext" class="btn btn-primary ng-cloak"><span th:text="#{users.btnNext}">next</span></button>
                </div>
                <div id="center">
                    <label><span th:text="#{users.page}">Page</span>:</label> <input data-numbers-only="true" data-ng-model="page"
                                                data-ng-keyup="getAllByUsernameByPage()" class="form-control input-search"
                                                style="width: 50px; display: inline;"/>
                </div>
            </div>
        </div>

    </div>
</div>

    <!-- FOOTER -->
    <footer data-th-replace="/include/footer::footer"></footer>


    <script type="text/javascript" th:src="#{jquery.js}"></script>
    <script type="text/javascript" th:src="#{bootstrap.js}"></script>
    <script type="text/javascript" th:src="#{angular.js}"></script>
    <script type="text/javascript" src="../static/app/users.js" th:src="@{/app/users.js}"></script>
</body>
</html>