form { margin: 0px 10px; }

h2 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.panel1 { max-width: 420px; margin-left: 8%;}
.panel2 { max-width: 420px; margin-left: 8%;}

.divider {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.divider hr {
    margin: 7px 0px;
    width: 35%;
}

.left { float: left; }

.right { float: right; }

.error {
    color: red;
}
