<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css" th:href="@{/css/bootstrap/bootstrap.min.css}" />
    <link rel="stylesheet" href="../static/css/register.css" th:href="@{/css/register.css}" />
    <title th:text="#{register.title}">Create account</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form th:action="@{/register}" th:object="${registerDTO}" method="POST" role="form" id="registrationForm">
                        <div class="form-group">
                            <h2><span th:text="#{register.title}">Create account</span></h2>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('username')} ? 'has-warning' : ''">
                            <label class="control-label" for="username" th:text="#{register.yourUsername}">Your username</label>
                            <input th:name="username" th:field="*{username}" id="username" type="text" maxlength="36" class="form-control" th:placeholder="#{register.username}"/>
                            <label th:each="err : ${#fields.errors('username')}" th:text="${err}" id="username-error" class="error" for="username"></label>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-warning' : ''">
                            <label class="control-label" for="email" th:text="#{register.email}">E-mail</label>
                            <input th:name="email" th:field="*{email}" id="email" type="email" class="form-control" th:placeholder="#{register.email}"/>
                            <label th:each="err : ${#fields.errors('email')}" th:text="${err}" id="email-error" class="error" for="email"></label>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-warning' : ''">
                            <label class="control-label" for="password" th:text="#{register.password}">Password</label>
                            <input th:name="password" id="password" type="password" maxlength="36" class="form-control" th:placeholder="#{register.passwordPlaceholder}"/>
                            <label th:each="err : ${#fields.errors('password')}" th:text="${err}" id="password-error" class="error" for="password"></label>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('passwordAgain')} ? 'has-warning' : ''">
                            <label class="control-label" for="passwordAgain" th:text="#{register.passwordAgain}">Password again</label>
                            <input th:name="passwordAgain" id="passwordAgain" type="password" maxlength="36" class="form-control" th:placeholder="#{register.passwordAgain}"/>
                            <label th:each="err : ${#fields.errors('passwordAgain')}" th:text="${err}" id="passwordAgain-error" class="error" for="password"></label>
                        </div>
                        <div class="form-group">
                            <button id="registerSubmit" type="submit" class="btn btn-info btn-block"><span th:text="#{register.textOnButton}">Create account</span></button>
                        </div>
                        <p class="form-group">
                            <span th:text="#{register.byCreatingAnAccountYouAgreeToOur}">Create account</span>
                            <a href="#"><span th:text="#{register.termsOfUser}">Terms of Use</span></a>
                            <span th:text="#{register.andOur}">and our</span>
                            <a href="#"><span th:text="#{register.privatePolicy}">Privacy policy</span></a>.
                        </p>
                        <hr />
                        <p>
                            <span th:text="#{register.alreadyHaveAnAccount}">Already have an account?</span>
                            <a th:href="@{/signIn}"><span th:text="#{register.signIn}">Sign in</span></a>
                        </p>
                        <hr />
                        <p>
                            <span th:text="#{register.goBackToTheHomepage}">Go back to the homepage</span>
                            <a th:href="@{/}"><span th:text="#{register.go}">GO</span></a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" th:src="#{jquery.js}"></script>
    <script type="text/javascript" th:src="#{jquery_validation.js}"></script>
    <script type="text/javascript" src="../static/js/register.js" th:src="@{/js/register.js}"></script>
</body>
</html>