form { margin: 0px 10px; }

h2 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.container { max-width: 420px; }

.divider {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.divider hr {
    margin: 7px 0px;
    width: 35%;
}

.left { float: left; }

.right { float: right; }

.error {  color: red;  }

.badgebox {  opacity: 0;  }

.badgebox + .badge {
    text-indent: -999999px;
    width: 27px;
}

.badgebox:focus + .badge {  box-shadow: inset 0px 0px 5px;  }

.badgebox:checked + .badge {  text-indent: 0;  }